.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 100px; /* Add some space for the fixed button */
}

.add-btn-fixed {
  position: fixed;
  bottom: 20px;
  /* right: 20px; */
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.add-btn-fixed:hover {
  background-color: #333;
}
