.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(20, 8, 8, 0.1);
  color: rgb(0, 0, 0); /* Ensure text is visible on colorful backgrounds */
  transition: transform 0.2s ease;
}

p{
  font-weight: bold;
}

.card:hover {
  transform: scale(1.02);
}

.close-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

#close-symbol{
  color: red;
  
}
